@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}


@keyframes sendFlyIcon {

    0%{
        transform: translateX(0) scale(1);
        opacity: 1;
    }

    50%{
        transform: translateX(50px) scale(1.1);
        opacity: 0.8;
    }

    100%{
        transform: translateX(120px) scale(0.5);
        opacity: 0;
    }
    
}

.send-animation {
        animation : sendFlyIcon 0.5s ease forwards;
    }
    

    @keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

@keyframes ping-slow {
  0%, 100% { transform: scale(1); opacity: 0.2; }
  50% { transform: scale(1.5); opacity: 0.05; }
}
.animate-ping-slow {
  animation: ping-slow 4s infinite;
}

@keyframes ping-slower {
  0%, 100% { transform: scale(1); opacity: 0.15; }
  50% { transform: scale(1.3); opacity: 0.05; }
}
.animate-ping-slower {
  animation: ping-slower 5s infinite;
}

